*{
 margin: 0;
 padding: 0;
 box-shadow: border-box;    
}

body{
    background: #f8f8f8;
    color: #29292e;
}

body, input, textarea, button, select{
    font: 400 16px 'Roboto', sans-serif;
}
/* 
display: grid; //display em grid
grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); // repita isso para todos os elemento, faça um tamanho minino para 280px, se não couber use 1 fragments;
gap() // espaçamento entre elementos

Efeito de aumento

.post{
    transition:transform 100ms ease-in-out;
}
.post:hover{
    transform: scale(1.05);
}



 */